[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ra137878
[access "refs/for/refs/*"]
	read = group user/ra137878
	push = group user/ra137878
	label-Code-Review = -2..+2 group user/ra137878
	label-Verified = -1..+1 group user/ra137878
	rebase = group user/ra137878
	removeReviewer = group user/ra137878
	submit = group user/ra137878
[access "refs/heads/*"]
	read = group user/ra137878
	create = group user/ra137878
	push = +force group user/ra137878
	pushMerge = group user/ra137878
[access "refs/tags/*"]
	push = +force group user/ra137878
	pushTag = group user/ra137878
	pushSignedTag = group user/ra137878
